@media only screen and (max-width: 1200px){
    .container { width: 85%; }
    .side-bar { width: 40%;}
    .side-bar-header h2{
        margin: 30px 10%;
        font-size: 18px;
    }
    .route { margin: 0 10%;}
    .route p{ font-size: 13px; }
    .line { margin: 6px 13%; }
    .line:nth-child(2) {
        margin: 0px 13%;
        margin-bottom: 3px;
    }
    .side-bar-text-container {
        width: 80%;
        margin: 0px 10%;
    }
    .side-bar-text-container p {
        width: 80%;
        font-size: 10px;
        margin-left: 20px;
        line-height: 15px;
    }

    .side-bar-footer i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: -15px 2%;
        font-size: 13px;
    }
    .personal-name {
        margin-top: 6px;
    }
    .personal-name .column h3 {
        margin-left: 10%;
        font-size: 10px;
    }
    .personal-name .column .row h3 {
        margin-left: 10%;
        margin-top: 2px;
        font-size: 9px;
    }
    .personal-name .column .row h2{
        font-size: 16px;
        margin-right: 10px;
    } 
    .main-container { font-size: 80%; }
    .main-text-box h2 {  font-size: 20px;} 
    .main-text-box p { font-size: 13px; }
    .privace h2 { font-size: 20px; }
    .privace p {   font-size: 13px; }
    .footer-buttons {
        width: 80%;
        margin-top: 20px;
        margin-left: 70px;
    }
    .invest-form h2 { font-size: 20px;}
    .accredited-question h2 { font-size: 20px; }
    .interested-form { width: 75%; }
    .interested-form h2 {  font-size: 18px; }
    
}

@media only screen and (max-width: 1023px){
    .respons-btn { 
        display: inline-block; 
        position: absolute; 
        z-index: 12; 
        margin-left: 10px;
    }
    .main-container {border-radius: 8px; }
    .side-bar {
        display: none; 
        z-index: 10;
        margin-top: 80px;
        margin-left: 7%;
        width: 350px;
    }
    #check:checked ~ .side-bar {
        position: absolute;
        display: block;
      }
     
    .side-bar-header h2{
        margin: 30px 60px;
        font-size: 20px;
    }
   
    .route {  margin: 0 60px;  }
   
    
    .route p{
        font-size: 15px;
        margin-left: 30px;
    }
  
    .line {
        width: 3px;
        height: 10px;
        background-color: #fff;
        margin: 6px 68px;
    }
    .line:nth-child(2) {
      margin: 0px 68px;
      margin-bottom: 6px;
  }
  
  .side-bar-footer i {
      width: 34px;
      height: 34px;
      line-height: 34px;
      margin: -15px 46px;
      font-size: 15px;
  }
  .side-bar-text-container {  
      margin: 0px 60px;
      width: 270px;
      height: 160px;
      background-color: #fff;
      border-radius: 4px;
  }
  
  .side-bar-text-container p {
      margin-left: 40px;
      margin-top: 20px;
      width: 235px;
      font-size: 13px;
  }
  .personal-name {
      margin-top: 10px;
  }
  .personal-name .column h3 {
      
      display: inline-block;
      margin-left: 40px;
      font-size: 13px;
      font-family: "Montserrat Alternates";
      color: #000;
  }
  .personal-name .column .row h3 {
      margin-left: 40px;
      margin-top: 4px;
      display: inline-block;
      font-size: 11px;
      color: rgb(155, 155, 155);
  }
  
  .personal-name .column .row h2{
      font-size: 20px;
      margin-right: 15px;
      font-style: normal;
      font-weight: 800;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #2696E8;
  } 
  .personal-name .column .row h2 b {
      color: #000;
  }
}
     
@media only screen and (max-width: 767px){
    .container { width: 90%; }
    .side-bar {
        display: none; 
        z-index: 10;
        margin-top: 80px;
        margin-left: 5%;
        width: 350px;
    }
    
    .steps {font-size: 11px;}
    .main-header{margin-top: 3%;}
  
    .header-help {
        margin-right: 8%;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: normal;
    }
    
    .main-text-box h2 {  font-size: 16px;} 
    .main-text-box p { font-size: 10px; line-height: 15px; width: 70%; }
    .contact-form{width: 100%;}
    .form-row{width: 70%;}
    form .form-row .input-data{ width: 45%; }
    .select-phone-code { width: 95%;  margin-left: 10px; }
    .input-data label{font-size: 12px; }
    .input-data input:focus ~ label, 
    .input-data input:valid ~ label{ font-size: 11px; }
    .input-data-email input:focus ~ label, 
    .input-data-email input:valid ~ label{font-size: 12px;  }
    .input-data-email label{ font-size: 11px;  }
    .input-country{ width: 70%;  }
    .privace {width: 70%;}
    .privace h2 { font-size: 16px; }
    .privace p {   font-size: 10px; line-height: 15px; width: 90%;}
    .provace a{font-size: 16px;}
    .footer-buttons {
        width: 70%;
        margin-top: 10px;
        margin-left: 10%;
    }
    .footer-buttons a {
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: normal;
    }
    
    .skip-button,
    .next-button{
    display: inline-block;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    line-height: 20px;
    font-size: 11px;
    letter-spacing: normal;
    font-style: normal;
    font-weight: 400;
    }

    .invest-form h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
    }
    .progres-amount {
        width: 70%;
        margin-top: 20px;
        margin-left: 70px;
      }
    .progres-value-amount { width: 100%;}

    .progres-value-amount label {
        font-size: 10px;
        font-weight: 400;
      }

    .accredited-question { width: 70%;  }
    .accredited-question h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
    }
    .interested-form {  width: 75%}
    .interested-form h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
      }
    .interested-component p {
        display: inline-block;
        margin-top: 35px;
        margin-left: 10px;
        font-size: 9px;
        line-height: 15px;
    }

} 
 @media only screen and (max-width: 480px){
    .side-bar{
        margin-top: 0;
        margin-left: 0;
    }
    .container{
        width: 100%;
        height: 100%;
        margin-top: 0;
        left: 0;
    }

    .main-text-box {
        margin-top: 10px;
        margin-left: 5%;  
    }
    .main-text-box h2 { font-size: 20px; text-align: center; }
    
    .main-text-box p {
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        width: 95%;
    }
    .privace h2 { font-size: 22px; text-align: center; }
    .privace p {   font-size: 13px; text-align: center; width: 95%; }
    .privace a {   font-size: 13px; text-align: center; }
    .interested-form {  width: 90%; margin-left: 4%;   }
    .interested-form h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
      }
    .interested-component p {
        display: inline-block;
        margin-top: 35px;
        margin-left: 10px;
        font-size: 10px;
        line-height: 15px;
    }
} 