* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #DCE8FF;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
  }
  .column {
      display: flex;
      flex-direction: column;
  }
  .row {
      display: flex;
      justify-content: space-between;
  }
  .border-color {
    border: 2px solid #35A0EE !important;
    background-color: #F6FBFF;
  }
  #check {
    display: none;
  }
  .respons-btn {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  .container {
    margin: auto;
    margin-top: 80px;
    display: flex;
    height: 492px;
    width: 1230px;
    border-radius: 8px;
  }
  .side-bar {
    width: 440px;
    height: 492px;
    left: 0;
    top: 0;
    background-color: #35A0EE;
    border-radius: 8px 0px 0px 8px;
  }

  .main-container {
      width: 790px;
      height: 492px;
      background-color: #fff;
      border-radius: 0px 8px 8px 0px;
  }
  .side-bar-header {
      left: 0;
      top: 0;
      width: 100%;
  }
  .side-bar-header h2{
      display: inline-block;
      margin: 30px 60px;
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      font-size: 20px;
  }
  .side-bar-header h2 b {
      color: #fff;
  }
  .side-bar-body {
      margin: 40px 0;
  }
  .route {
      display: flex;
      margin: 0 60px;
  }

  .icon{
      display: block;
      position: absolute;
      cursor: pointer;
  }
  .icon span{
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 2px solid #fff;
  }
  .whiteBackColor{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid  rgba(255, 255, 255, .5) !important;
  }
  .icon .inner-icon{
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 5px 5px;
    background-color: #fff;
}
  .route p{
      display: inline-block;
      color: #fff;
      font-size: 15px;
      margin-left: 30px;
  }

  .line {
      display: inline-block;
      width: 3px;
      height: 10px;
      background-color: #fff;
      margin: 6px 68px;
  }
  .line:nth-child(2) {
    margin: 0px 68px;
    margin-bottom: 6px;
}
.whiteColor {
  background-color: rgba(255, 255, 255, .5) !important;
}
.side-bar-footer i {
    position: absolute;
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin: -15px 46px;
    background-color: #fff;
    border-radius: 4px;
    color: #2696E8;
    box-shadow: 2px 2px 5px 1px rgb(170, 170, 170);
    font-size: 15px;
}
.side-bar-text-container {  
    margin: 0px 60px;
    width: 313px;
    height: 160px;
    background-color: #fff;
    border-radius: 4px;
}

.side-bar-text-container p {
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
    width: 235px;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
}
.personal-name {
    margin-top: 10px;
}
.personal-name .column h3 {
    
    display: inline-block;
    margin-left: 40px;
    font-size: 13px;
    font-family: "Montserrat Alternates";
    color: #000;
}
.personal-name .column .row h3 {
    margin-left: 40px;
    margin-top: 4px;
    display: inline-block;
    font-size: 11px;
    color: rgb(155, 155, 155);
}

.personal-name .column .row h2{
    font-size: 20px;
    margin-right: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2696E8;
} 
.personal-name .column .row h2 b {
    color: #000;
}

/*---MAIN CONTAINER ---*/
.main-header {
    margin-top: 20px;
    margin-left: 70px;
}
.steps {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #a7a7a7;

}

.header-help {
    display: flex;
    margin-right: 130px;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.header-help p {
    font-weight: 500;
    color: #a7a7a7;
}

.header-help a {
    display: inline-block;
    text-decoration: none;
    color: #35A0EE;
    font-weight: 800;
    margin-left: 5px;

}
.header-help i {
    display: inline-block;
    line-height: 25px;
    color: #35A0EE;
    font-weight: 800;
    margin-left: 5px;
}

.main-text-box {
    margin-top: 10px;
    margin-left: 70px;  
}

.main-text-box h2 {
    font-family: "Montserrat Alternates";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
}

.main-text-box p {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 500px;
    color: rgb(129, 129, 129);
}




.form-row{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
    margin-left: 70px; 
  }
  form .form-row .input-data{
    width: 240px;
    height: 30px;
    position: relative;
  }
  
  .input-data input{
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .input-data input:focus ~ label, 
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
  }
  
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    color: rgb(112, 112, 112);
  }
  
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scale(1);
  }

 .select-phone-code {
     width: 240px;
     height: 25px;
     border: none;
     border-bottom: 1px solid  rgba(0,0,0, 0.12);
     outline: none;
 }




  form .form-row .input-data-email{
    width: 100%;
    height: 30px;
    position: relative;
  }
  
  .input-data-email input{
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .input-data-email input:focus ~ label, 
  .input-data-email input:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
  }
  
  .input-data-email label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    color: rgb(112, 112, 112);
  }
  
  .input-data-email .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data-email .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data-email input:focus ~ .underline:before,
  .input-data-email input:valid ~ .underline:before{
    transform: scale(1);
  }

  .input-country{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
    margin-left: 70px; 
  }

  .select-country {
    width: 100%;
    outline: none;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    color: rgb(112, 112, 112);
  }
  .select-country select{
    font-size: 20px;
  }
  .privace {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
    margin-left: 70px; 
  }

  .privace h2 {
    font-family: "Montserrat Alternates";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
}

.privace p {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 500px;
    color: rgb(129, 129, 129);
}

.privace a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: #3498db;
}
.footer-buttons {
    width: 600px;
    margin-top: 20px;
    margin-left: 70px;
}

.footer-buttons a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: #3498db;
}

.skip-button,
.next-button{
  display: inline-block;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.skip-button {
  margin-right: 10px;
  background-color: #DCE8FF;
  color:  #3498db;

}
.next-button {
  background-color: #35A0EE;
  color:  #ffffff !important;
  text-decoration: none;
}

/*----STEP 2 ------*/

.invest-form{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.invest-form h2 {
  font-family: "Montserrat Alternates";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 70px;
  margin-bottom: 15px;
}

.progres-amount {
  width: 500px;
  margin-top: 20px;
  margin-left: 70px;
}
.progres-value {
  width: 100%;
  height: 3px;
  border-radius: 0;
}
progress::-webkit-progress-value { 
  background:#35A0EE; 
} 

.progres-percent {
  display: flex;
  position: relative;
  width: 100%;
  top: -10px;
  left: 0;
  justify-content: space-between;
}

.progres-percent span{
  
  width: 3px;
  height: 14px;
  
}
.progress-start {
  width: 9px !important;
}
.color {
  color: #35A0EE !important;
}
.background {
  background-color: #35A0EE;
}
.progres-value-amount {
  display: flex;
  position: relative;
  width: 106%;
  left: 0;
  justify-content: space-between;
}
.progres-value-amount label {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: rgb(182, 182, 182);
}

.accredited-question {
  width: 500px;
  margin-top: 30px;
  margin-left: 70px;
}
.accredited-question h2 {
  display: inline-block;
  margin-left: 0;
  font-family: "Montserrat Alternates";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}
.ques-btn {
  left: 0;
  top: 0;
}

.ques-btn button {
  width: 90px;
  height: 30px;
  border-radius: 3px;
  border: 2px solid rgb(177, 177, 177);
  text-align: left;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}
.ques-btn button:nth-child(1){
  border: 2px solid #35A0EE;
  color: #35A0EE;
}
.ques-btn button input {
  display: inline-block;
  margin-left: 10px;

}


/*---STEP 3 ---*/

.interested-form {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 270px;
  margin-left: 70px;
  margin-top: 10px;
}
.interested-form h2 {
  font-family: "Montserrat Alternates";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.interested-row {
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-top: 5px;
  width: 100%;
  height: 45%;
}
.interested-component {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 21%;
  border: 2px solid rgb(156, 156, 156);
  border-radius: 4px;
  
}
.interested-component input {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.interested-component p {
  display: inline-block;
  margin-top: 40px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 20px;
}
.back_page{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 12;
}
.result {
  display: block;
  position: absolute;
  width: 400px;
  height: auto;
  left: calc(50% - 200px);
  top: calc(50% - 246px);
  background-color: #fff;
  z-index: 12;
  border-radius: 8px;
  box-shadow: 1px 1px 5px;
} 
.result .column h3{
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: #35A0EE;
}
.result .column p{
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 17px;
  font-weight: 800;
}
.result .column ul{
  display: inline-block;
  position: relative;
  list-style: none;
  text-align: left;
  font-size: 17px;
  margin-left: 20px;
  font-weight: 800;
}

.result .column button {
  display: inline-block;
  width: 140px;
  height: 35px;
  font-size: 18px;
  font-weight: 800;
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px;
  border-radius: 6px;
  background-color: #35A0EE;
  color: #fff;
  margin: 10px auto;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.result .column button:hover{
  background-color: #fff;
  color: #35A0EE;
}